@import './normalize/import-now';

@import './base/fonts';
@import './base/base';
@import './base/form';

$gothamBold: 'gotham bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$gothamMedium: 'gotham medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$gothamCondensed: 'gotham condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$p-color: #df3983;

body {
    font-family: $gothamMedium;
    line-height: 1.5;
    background: black;
    color: white;

    @media screen and (min-width: 600px) {
        background: url('./../build-assets/main-bgd.jpg') no-repeat top center;
        //background-size: cover;
    }
}

.wrapper,
.mobile-bgd-wrapper {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

.wrapper {
    left: auto;
    opacity: 1;
    position: static;
    transition: opacity linear 0.1s;
}

.wrapper--hide {
    left: -200vw;
    opacity: 0;
    position: absolute;
}

.mobile-bgd-wrapper {
    position: relative;
    z-index: -1;

    @media screen and (min-width: 600px) {
        display: none !important;
    }
}

.mobile-bgd-wrapper__img {
    // max-height: 30vh;
    object-fit: cover;
    object-position: top;
    width: 100%;
}


.loader-wrapper,
.age-restriction-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 1;
    max-width: 640px;
    margin: 0 auto;

    img {
        max-width: 50px;
    }
}

.age-restriction-overlay {
    position: absolute;
    height: 90vh;
    max-height: 800px;
    flex-direction: column;
    padding: 0 20px;
    z-index: 1000;

    img {
        margin-bottom: 20px;
        max-width: 100%;
    }
}

.page-overlay {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    // -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: (opacity 0.2s, visibility 0.2s);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.fade-in {
        opacity: 1;
        visibility: visible;
    }
}

.page-wrapper {
    margin: 0 auto;
    padding: 20px 15px 20px 15px;
    position: relative;

    @media screen and (min-width: 600px) {
        padding: 30px 40px 30px 40px;
    }

    .header {
        text-align: center;
        padding-top: 20px;

        .header-logo {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 15%;

            @media screen and (min-width: 600px) {
                width: initial;
                top: 20px;
                right: 20px;
            }
        }

        img {
            max-width: 100%;
        }

        p {
            color: white;

            @media screen and(min-width: 600px) {
                font-size: 19px;
            }

            br {
                display: none;

                @media screen and(min-width: 500px) {
                    display: inline-block;
                }
            }
        }
    }
}

.page-wrapper--form {
    position: absolute;
    background: rgba(0,0,0,0.8);
    max-width: 640px;
    max-height: 800px;
    overflow-y: scroll;
}


// This is the form
#data-capture {
    margin: 0 auto;

    @media screen and(min-width: 550px) {
        width: 90%;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 0;

        // input:focus{
        //     background-color: white;
        // }

        @media screen and(min-width: 700px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        &.checkbox-wrapper {
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            &.mT {
                margin-top: 30px;
            }

            input[type='checkbox'] {
                margin-right: 20px;
                transform: scale(1.5);
                flex: 1 0 5%;
            }

            label {
                font-size: 12px;
                line-height: 1.5;
                text-transform: none;
                margin: 0;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                flex: 1 0 80%;
            }
        }

        &.submit {
            padding: 40px 0;
        }
    }

    label {
        color: white;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: $gothamBold;
        text-transform: uppercase;

        span {
            font-size: 10px;
        }
    }

    input[type='text'],
    input[type='email'] {
        padding: 10px;
        //border-radius: 5px;
        border: 2px solid transparent;
        flex: 0 0 70%;
    }

    .select-wrapper {
        flex: 0 0 70%;
        position: relative;
        display: flex;
        justify-content: space-between;

        span {
            position: absolute;
            top: calc(50% - 11px);
            right: 10px;
            font-size: 40px;
            line-height: 0.5;
        }

        select {
            padding: 13px;
            background: white;
            border: 2px solid transparent;
            appearance: none;
            border-radius: 0;
            width: 100%;
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    a {
        color: white;
        display: inline-block;
    }

    input[type='submit'] {
        border: none;
        background: #df3983;
        color: white;
        padding: 10px 50px;
        font-weight: 800;
        font-size: 20px;
        cursor: pointer;
        text-transform: uppercase;
        margin: 0 auto;
        transition: background 0.3s;

        @media screen and (min-width: 768px) {
            &:hover { background-color: darken(#df3983, 10%); }
        }
    }

    // input,
    // select {
    //     &.invalid {
    //         border-color: red;
    //     }
    // }
}

.data-capture-wrapper {
    background: rgba(0,0,0,0.8);
    display: none;
    margin: 0 auto;
    // left: 50%;
    max-width: 640px;
    overflow-y: scroll;
    position: static;
    // transform: translateX(-50%);

    @media screen and (min-width: 768px) {
        max-height: 700px;
    }

    .errors {
        border: 2px solid white;
        background: #21152b;
        padding: 5px;
        margin-top: 20px;

        p {
            color: white;
            margin: 0 0 5px 0;
        }
    }
}

.welcome-back-wrapper {
    background: rgba(0, 0, 0, 0.8);
    left: 50%;
    max-width: 640px;
    position: absolute;
    transform: translateX(-50%);

    .header {
        p {
            font-size: 21px;
            margin: 16px 0 10px;
        }
    }
    .content {
        margin: 0 auto;
        text-align: center;

        @media screen and (min-width: 500px) {
            width: 80%;
        }

        p {
            font-size: 16px;

            &.large {
                font-size: 25px;
            }
        }

        a {
            color: #aa1065;
            font-weight: 900;
        }
        .button-wrapper {
            padding: 20px 0 40px 0;
        }

        button {
            border: none;
            background: #df3983;
            color: white;
            padding: 10px 50px;
            font-weight: 800;
            font-size: 20px;
            cursor: pointer;
            text-transform: uppercase;
            margin: 0 auto;
            transition: background 0.3s;

            @media screen and (min-width: 768px) {
                &:hover { background-color: darken(#df3983, 10%); }
            }
        }
    }
}

.body { position: relative; }


.terms-link {
    color: #fff;
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 95vh;
    top: calc(100vh - 22px);
    text-align: center;
    transform: translateX(-50%);

    @media screen and (min-width: 500px) {
        bottom: 10px;
        top: auto;
        width: 80%;
    }
}





// STUARTS STYLES
// ===========================

// .landmark { margin-bottom: 20px; }

.btn {
    background: white;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;

    &:focus { outline: solid 2px $p-color; }

    @media screen and (min-width: 768px) {
        &:hover { outline: solid 2px $p-color; }
    }
}
