@font-face {
    font-family: 'gotham bold';
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#gotham-medium') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'gotham medium';
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Medium.woff2') format('woff2'),
        url('../fonts/Gotham-Medium.woff') format('woff'),
        url('../fonts/Gotham-Medium.ttf') format('truetype'),
        url('../fonts/Gotham-Medium.svg#gotham-medium') format('svg');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'gotham condensed';
    src: url('../fonts/GothamCondensedBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamCondensedBold.woff2') format('woff2'),
        url('../fonts/GothamCondensedBold.woff') format('woff'),
        url('../fonts/GothamCondensedBold.ttf') format('truetype'),
        url('../fonts/GothamCondensedBold.svg#gotham-condensed') format('svg');
    font-style: normal;
    font-weight: normal;
}
