// ==========================================================================
//
// FORMS
//
// Description: Base form styles
//
// ==========================================================================
// ==========================================================================
// # VARIABLES & MIXINS
// ==========================================================================

@mixin input-size {
    display: flex;
    max-width: 240px;
    width: 100%;
}

@mixin form-input {
    @include input-size;
    background-color: #fff;
    border: 0;
    padding: 12px 15px;
    &:focus {
        @include active-input;
    }
}


@mixin active-input {
    outline: solid 2px #B79A5C;
}


@mixin input-error {
    // .form__label { @include #f00; }
    outline: solid 2px #f00;
}

@mixin input-dob-error {
    .form-dob__input { border: solid 2px #f00; }
}

@mixin remove-number-arrows {
    /* Hide HTML5 Up and Down arrows. */
    input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
}





// ==========================================================================
// # BASE
// ==========================================================================

.form {
    @media screen and (min-width: 768px) { padding-bottom: 100px; }
}

.form__input {
    border-radius: 0px;
    outline-offset: 2px;

    &:focus { @include active-input; }

    &.invalid { @include input-error; }
}

.form__hack-img {
    display: block;

    @media screen and (min-width: 768px) { display: none; }
}





// ==========================================================================
// # ELEMENT: CUSTOM CHECKBOX & RADIO BUTTON
// ==========================================================================

.form__custom-input {
    cursor: pointer;
    display: inline-block;
    padding-left: 2rem;
    position: relative;

    // @include mq(medium) {
    //     &:hover .form__custom-input-indicator {
    //         color: #fff;
    //         background-color: #ccc;
    //     }
    // }

    .form__input {
        position: absolute;
        opacity: 0;
        /* Put the input behind the label so it doesn't overlay text */
        z-index: -1;

        &:focus ~ .form__custom-input-indicator {
            @include active-input;
        }

        /* Checked state */
        &:checked ~ .form__custom-input-indicator {
            background-color: #df3983;
            color: #fff;
        }
        /* Active */
        &:active ~ .form__custom-input-indicator {
            background-color: lighten(#df3983, 10%);
            color: #fff;
        }

        &.invalid ~ .form__custom-input-indicator { @include input-error; }
    }
}


.form__custom-input-indicator {
    background-color: #ccc;
    background-size: 65% 65%;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 1.1rem;
    left: 0;
    outline-offset: 2px;
    position: absolute;
    top: 0;
    user-select: none;
    width: 1.1rem;
}


// Checkbox modifiers
.form__input--checkbox {
    // ~ .form__custom-input-indicator {}

    &:checked ~ .form__custom-input-indicator {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27.02 20.56' fill='%23ffffff' %3E%3Cpath d='M9.23 20.56L6.46 17.8 0 11.33l2.77-2.76L9.23 15l15-15L27 2.77z'/%3E%3C/svg%3E%0A");
    }
}


//  Radio modifiers
.form__input--radio {
    // ~ .form__custom-input-indicator { border-radius: 50%; }

    &:checked ~ .form__custom-input-indicator {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' fill='%23ffffff' %3E%3Ccircle cx='25' cy='25' r='25'/%3E%3C/svg%3E");
    }
}
